div.container {
    width: 100%;

}
header, footer {
    padding: 1em;
    color: white;
    background-color: skyblue;
    clear: left;
    text-align: center;
}

.nav{background:#eee;
height: 1480px}
nav {
    float: left;
    overflow: hidden;
    max-width: 300px;
    margin: 0;
    padding: 1em;
}
nav ul {
    list-style-type: none;
    padding:0
}
nav ul a {
    text-decoration: none;
}
article {
    margin-left: 170px;
    border-left: 1px solid nav;
    padding: 1em;
    overflow: hidden;
    powderblue;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 150%;
}

h5 {
  font-size:300%
}

h2 {
  font-size:30px
}
h1 {
  font-size:25px
}

li {
  font-size:20px
}
